{% extends 'root.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="ru">
        <head>
            <meta charset="utf-8" />
           
        </head>
        <body>
            <table
            border="1"
            align="center"
            rules="rows"
            style="width:60%;">
            <tr>
            <td>
            <table
            border="1"
            background="images/168.png"
            bgcolor="#7FFFD4"
            cellpadding="10"
            style="width:100%; border-radius:5px;">
            <tr>
            <th>
            <h1>Карточка сайта зоопарка</h1>
            <h3>;) не ставтье пожалуйста 2(((( я просто не знала, что сделать</h3>
            </th>
            </tr>
            </table>
            <table
            border="1"
            bgcolor="#e6e6fa"
            cellpadding="10"
            style="width:100%; border-radius:5px;">
            <tr>
            <td
            rowspan="2"
            style="width:80%">
            <h2>Zoopark</h2>
            <p style="text-indent:20px">
            Что такое - зоопарк? Зоологический парк представляет собой учреждение, в котором содержат животных в неволе для демонстрации, изучения, сохранения и воспроизводства. Зоопарки создаются в научно-просветительских целях. Они помогают распространить знания о многообразии животного мира, пропагандируя охрану и сохранение генофонда редких, исчезающих особей.</p>
            
            <p style="text-indent:20px">
           Ограниченность территории, на которой содержатся животные, - главная отличительная особенность зоопарка (фото зоологических парков и животных есть в статье). Зоопарк имеет сходство с зонами отдыха, ведь у него есть четкие границы. Специально созданные помещения с приближенными природными условиями для жизни становятся местом обитания многих видов животных. Как правило, территория зоопарка огромная, в отличие от зоосада. Многие учреждения были организованы на базе частных коллекций, цирков и выставок. В России к старейшим зоопаркам, основанным в 19 веке, относят Казанский, Пензенский, Санкт-Петербургский и Московский.</p>
            
            </td>
            
           
           
            </tr>
         
            <tr>
           
            <td
            bgcolor="#e6e6fa"
            align="center">
            <h3>Общая информация</h3>
            <p>Текст общей информации или реклама</p>
            
            </td>
            </tr>
            </table>
            
            <table
            border="1"
            bgcolor="#7FFFD4"
            height="100"
            cellpadding="10"
            style="width:100%; border-radius:5px;">
            <tr>
  
            <th>
            <h3>8 000 000 00 00</h3>
            </th>
            </tr>
            </table>
            </td>
            </tr>
            </table>
        </body>
        </html>
{% endblock %}